
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

@using (Html.BeginForm())
{
    <label>CountryName</label>
    <input type="text" , name="CountryName" />
    <button type="submit">ADD </button>



}

    @*<div class="form-group">

            <input type="button" name="btn btn-add" class="btn btn-outline-primary" />


        </div>*@
